name: 'Change Docker Image'

on:
  push:
    branches: [ main ]
jobs:
  update_deployment:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout deployment repository
          uses: actions/checkout@v3
          with:
            repository: thiagoholder/residencial-api-config
            token: ${{ secrets.DEPLOYMENT_REPO_ACCESS_TOKEN }}
        - name: Update deployment image
          run: |
            # Substitua a tag da imagem no arquivo deployment.yaml
            sed -i 's#tomorrow.azurecr.io/residentloan:.*#'"tomorrow.azurecr.io/residentloan:03ec26858c494c273db21835d6f5d213ce5e6985"'#' ./residencial-api/deployment.yaml

        - name: Setup Git and commit changes
          run: |
            git config user.name "GitHub Actions"
            git config user.email "actions@users.noreply.github.com"
            git add ./residencial-api/deployment.yaml
            git commit -m "Update deployment image to 03ec26858c494c273db21835d6f5d213ce5e6985"
            git push
